@import "tailwindcss";

@theme {
  --color-bg: #FFF9F2;
  --color-ink: #2E2A3D;
  --color-primary: #FF7A45;
  --color-secondary: #2F6F6B;
  --color-card-border: #F0E4D3;
}

body {
  background-color: var(--color-bg);
  color: var(--color-ink);
  font-family: var(--font-vazir), sans-serif;
}